.myContainer {
    margin: 100px 200px 0px 200px;
} 

.myTitle {
    text-align: center;
    margin-bottom: 40px;
    font-display: em;
}

.myInstructions{
 font-size: 18pt;
}

#timer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    display: block;
}

#timeLeft{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    display: inline-block;
    margin-left: 20px;
  
}

.triviaQuestion {
    font-size: 24pt;
    padding: 10px 0px 5px 0px;
}


.choicesQ1 {
    font-size: 16pt;
    margin: 10px 10px 10px 20px;
    line-height: normal;
}
.choicesQ2 {
    font-size: 16pt;
    margin: 10px 10px 10px 20px;
    line-height: normal;
}.choicesQ3 {
    font-size: 16pt;
    margin: 10px 10px 10px 20px;
    line-height: normal;
}

.answerItems {
    padding: 0px 10px 10px 5px;
    margin: 0px 10px 10px 20px;
}

.answerInput {
    margin: 10px 0px 0px 0px;
}

.correctScore {
    font-size: 16pt;
}

.incorrectScore {
    font-size: 16pt;
}

/*#questionOne{};
#questionTwo;
#questionThree;*/